body
{
background-image:url("circlelogo.png");
background-repeat:no-repeat;
background-position:left top;
background-size: 600px 573px;
background-color: #aa81c1;
}

#navbar
{
text-align:center;
font-family:Impact;
font-size: 40px;
color: rgb(255,255,255);

}

.info
{
font-family:"helvetica";
font-size: 18px;
color: rgb(255,255,255);
position:fixed;
top:30px;
right:450px;
/* background-color:#89669e; */


}

table
{

font-family:"impact";
font-size: 40px;
color: rgb(255,255,255);
/* background-color:#89669e; */
}

a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#FFFFFF;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */




